<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <virtualType name="ExamDiscount"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">discounts</argument>
            <argument name="resourceModel" xsi:type="string">Exam\Discount\Model\Discount\ResourceModel\Discount</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="exam_discount_data_source" xsi:type="string">ExamDiscount</item>
            </argument>
        </arguments>
    </type>
</config>
